*{
    padding:0px;
    margin:0px;
    font-family: 'Karla', sans-serif;
}

#banner{
    height: 100vh;
    background: linear-gradient(110deg,rgba(0, 0, 0, 0.457) 0%,rgba(0, 0, 0, 0.583) 100%),url("andras-vas-Bd7gNnWJBkU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner p{
    color:White;
    font-size:40px;
    text-transform: capitalize;
}
#banner p:nth-child(2){
    font-size:20px;


}
#banner a{
    text-decoration: none;
    color:white;
    background-color: black;
    font-size:20px;
    border-radius: 23px;
    border: none;
    font-weight: bold;
    box-shadow: 1px 2px 10px gray;
}
#banner a:hover{
    text-decoration: none;
    color:rgb(0, 0, 0);
    background-color: white;
    font-size:20px;
    border-radius: 23px;
    border: none;
    font-weight: bold;
    box-shadow: 1px 2px 10px gray;
}
#about{
    color:black;
   
}
#about svg{
    border-radius:50%;
    padding:5px;
    box-shadow: 1px 2px 10px gray;
    margin:10px 0px;
}
/* #about p{
    font-size:40px;
    text-transform: capitalize;
} */
.bs{
    border:none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(9, 9, 9);
}
.x{
    font-size:10px;
}
#projects{
    background: linear-gradient(110deg,rgba(0, 0, 0, 0.457) 0%,rgba(0, 0, 0, 0.583) 100%),url("ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#projects a{
        color:white;
        text-decoration: none;

}
#projects div{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(132, 124, 124);
    backdrop-filter: blur(2px);
    background-color:rgba(255, 255, 255, 0.4);
}
#projects div img{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);

}
#contacts{
    background-color: black;
}
#contacts div{
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    color:white
}
.line{
    width:100px;
    height:2px;
    background-color: gray;
    margin: 10px auto;
}